/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.slide {
    margin-top: 20px;
    margin-left:20px;
    background: gray;
    height:10px;
    border-radius:0;
    border:1px solid black;
}
.slide-back {
    position:absolute;
    height:100%;
}

.ui-slider .ui-slider-handle{
    width:10px;
    height:30px;
    position:absolute;
    top: -10px;
    border-style:none;
    border-radius:0;
    background-color:black;
    background-image:none;
}

.sliderValue{
    text-align: center;
    width:50px;
    padding:10px;
    font-size:20pt;
    margin-top:30px;
    margin-left:20px;
}
